<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="row">
            <h3 style=" text-align: center;">Welcome To Our Team</h3>
          
          <div class="col-md-4" *ngFor="let user of home">
            <div class="card-text-center" ><br><br><br><br>
              <div class="card" style="width: 65%;" id="parent">
               
                <div class="card-body">
                    <img src="{{user.avatar}}" class="card-text-center " alt="avatar">
                  <a style="font-size: 16px;font-weight: 700;line-height: 1.5em;padding: 0.5em 0.8em;">{{user.first_name}}</a>
                </div>
                <div class="card-footer" id="hover-content">
                    <li>
                        {{user.last_name}}
                    </li>
                    <li>
                        {{user.email}}
                    </li>
                </div>
              </div>
            </div>
           
            
           
          </div></div>
        
    