#example1 {

    padding: 60px;
    background: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1290&q=80);

    background-repeat:repeat;
    background-size: auto;
  }


  div.container {
    margin: 20px;
  }
.image-card {
      max-width: 150px;
    }

    .header-image-avatar {

      background-size: cover;
    }
    .mat-row:nth-child(even){
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    }

    .mat-row:nth-child(odd){
        background: linear-gradient(#e66465, #9198e5);

    }

p {
  font-family: "Lato", sans-serif;
  text-align: justify;
}
.example-card {
  max-width: 450px;
  margin: 10px;
}

mat-card-subtitle {
  font-size: 18px;
}

mat-card-title {
  color: green;
  font-size: 55px;
  justify-content: center;
  display: flex;
}
#hover-content {

    display:none;

}
#parent:hover #hover-content {

    display:block;


    font-size: 16px;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0.5em 0.8em;

}
.content {
    padding: 16px;
    width: 50px;
}

.content > mat-card {
    width: 200px;
}
.button{

    color: rgb(3, 0, 0);
    outline: 2px solid #fff;
    background-color: white;
    transition: color 1s;
}

.button:hover{
    color: #833ab4;
}

.button::before{

    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    z-index: -1;

}

.button:hover::before{
    transform: scaleX(1) skewX(35deg);
}